/* *{
  box-sizing: border-box;
}

body {
  background:radial-gradient(#18ad31, #fff) fixed;

}

header {
  background: #18ad3155;
  width: 100%;
}
#all_pictures {  
  border: double cadetblue;
  width:900px;
  margin:0 auto;

}

#chart {
  margin-top: 50px;
  width: 500px;
  border:  double azure;
}

img {
  float: left;
  max-height: 250px;
  max-width: 250px;
}


nav {
  max-width:  900px;
  margin: 0 auto;
  overflow: hidden
}

nav ul {
  margin: auto;
  display: block;
  max-width: 660px;
}

main{
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

main > *{
  float:left;
}

main > :nth-child(odd){
  width:25%
}

main > :nth-child(2){
  width: 50%;
}

main ul, main li {
  padding: 0;
  margin: 10px 0;
}

aside{ 
  padding-left: 30px;
}



li {
  display: inline-block;
  list-style: none;
  margin: 20px 40px 20px 0px;
  font-size: 1.2em;
  
}

footer {
  background: #18ad3155;
  width: 100%;
  height: 100px;
  clear:  both;
}

footer div {
  max-width: 900px;
  margin: 0 auto;
}

section div {
  padding: 7px;
  box-sizing: border-box;
  float: left;
  width: 50%;
}
 */

 *{
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  height: 60px;
  position: relative;
  background-color: darkcyan;  
  margin-bottom: 30px;
}

main, nav {
  width: 960px;
  margin:auto;
}

nav > ul {
  position: absolute;
  top: 80%;
  margin-top: -40px;
}

nav > ul > li {
  float: left;
  margin-right: 50px;
  line-height: 40px;
}

img {
  height:200px;
  width: 200px;
}

#logo {
  height: 40px;
  width: 50px;;
}

main > section > ul > section{
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

main > section > ul > section:nth-child(1){
  text-align: center;
}
main > section > ul > section:nth-child(2){
  text-align: center;
}
main > section > ul > section:nth-child(3){
  text-align: center;
}


/* Check this */
main > section > ul > section:hover{
  background-color: green;
  transition: 350ms;
}


footer {
  background-color: darkcyan;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 60px;
  text-align: center;
}

aside{ 
  padding-left: 30px;
}