 *{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

header {
  height: 60px;
  position: relative;
  background-color: black;  
  margin-bottom: 30px;
}

main, nav {
  width: 960px;
  margin:auto;
}

nav > ul {
  position: absolute;
  top: 80%;
  margin-top: -40px;
}

nav > ul > li {
  float: left;
  margin-right: 50px;
  line-height: 40px;
}
nav > ul > li :nth-child(1) {
  color:white;
}

img {
  height:200px;
  width: 200px;
}

#logo {
  height: 40px;
  width: 50px;;
}

main > section > ul > section{
  float: left;
  margin-right: 30px;
  margin-bottom: 50px;
}

main > section > ul > section:nth-child(1){
  text-align: center;
}
main > section > ul > section:nth-child(2){
  text-align: center;
}
main > section > ul > section:nth-child(3){
  text-align: center;
}

main > section > h3 {
  margin-left: 230px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main > section > ul > section:hover{
  background-color: green;
  transition: 30ms;
}


footer {
  background-color: black;
  color:azure;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 60px;
  text-align: center;
}

#chart {  
  height: 300px;
  width: 800px;
  margin:auto;
  float: left;
}

body {
  background-color:wheat;
}